*.pyc
*.DS_Store
*.egg*
/dist/
/.idea
/docs/_build/
/node_modules/
build/
env
/staticfiles/

#src
#This should be uncommented to not push your version of the sqlite to remote
*.sqlite*

#Add your virtual env file here as well to not push to remote
myvenv/
.env
.venv
.coverage
